body {
  font-family: Roboto, arial, sans-serif;
}

h1 {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-top: 25px;
}

ul {
  margin: 0 0 18px;
  padding: 0;
}

li {
  list-style: none;
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

footer {
  font-size: 14px;
  padding-top: 5px;
}
.weather-app-wrapper {
  min-width: 500px;
  max-width: 600px;
  margin: 20px auto 10px;
  padding: 10px;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 10px;
  margin: 0px auto;
  padding: 20px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
  font-size: 18px;
}

.active {
  color: black;
}

.active:hover {
  color: black;
  text-decoration: none;
  cursor: default;
}

.btn-outline-secondary {
  color: #abacad;
  border-color: #abacad;
}
.upper-section {
  display: block;
  width: 490px;
  padding-bottom: 10px;
}

.hourly-forecast {
  padding: 15px;
  white-space: nowrap;
  width: 480px;
  margin: 0 auto;
}

.weekly-forecast {
  display: block;
  width: 490px;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 10px;
  padding: 3px;
}


.hourly-summary,
.daily-summary,
.header,
.footer {
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  line-height: 14px;
  display: block;
  margin: 0;
}

.hourly-summary {
  border-radius: 4px;
  display: inline-block;
  height: 90px;
}

.daily-summary {
  border-radius: 4px;
  display: inline-block;
  height: 80px;
  width: 65px;
  margin: 2px; 

}

.hourly-summary .header,
.daily-summary .header {
  color: rgb(186, 186, 186);
  padding-top: 7px;
}

.hourly-summary .footer,
.daily-summary .footer {
  color: rgb(34, 34, 34);
  height: 14px;
}

.hourly-summary .daily-high,
.hourly-summary .daily-low,
.daily-summary .daily-high,
.daily-summary .daily-low,
 {
  font-weight: 400;
  height: 14px;
  line-height: 15px;
  font-size: 12px;
  display: inline-block;
  white-space: nowrap; */
}

.hourly-summary .daily-high {
  color: rgb(135, 135, 135);
  padding-right: 2px;
}

.hourly-summary .daily-low {
  color: rgb(186, 186, 186);
}

#input-field {
  padding: 0 5px 0 5px;
}

#search-button {
  padding: 0 10px;
}

#current-location {
  padding: 0px;
}

#weather-description {
  text-transform: capitalize;
}

#local-time {
  font-size: 14px;
}
